@font-face {
  font-family: Grizzly;
  src: url(AMOGUS.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url(AMOGUS.cur), auto;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Grizzly;
  font-size: 2vmin;
  background-color: #000000;
}

audio {
  position: absolute;
  width: 50px;
}

button {
  display: none;
  position: absolute;
  padding: 1vmin 2vmin;
  min-width: 30vmin;
  max-width: 30vmin;
  cursor: url(AMOGUS.cur), auto;

  background-color: #FF0000;
  border: dashed;
  color: white;

  text-align: center;
  text-decoration: none;
  font-family: Grizzly;
  font-size: 4vmin;
}

.beginning {
  text-align: center;
  color: #FFFFFF;
}

.fill {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.amongiygas {
  background-image: url("AMOGUS.png");
  background-repeat: repeat;
}

.ruined {
  text-align: center;
  font-size: 2.5vmin;
  font-weight: 900;
  position: fixed;
  left: 50%;
  top: 50%;
}

.sus {
  position: absolute;
  width: 50vmin;
}

.sus-text {
  position: absolute;
  font-family: 'Times New Roman';
  font-size: 10vmin;
  font-weight: 400;
  color: #000000;
  text-shadow: -2px -2px 2px rgb(140, 60, 60), 2px 2px 2px rgb(140, 60, 60);
}

.hidden-audio {
  display: none;
}