  
DEBUG = YES
DEBUGGING = YES
DEBUG_LEVEL = 3
DEBUG_VERBOSE_LOGGING = YES

RELEASE = YES
OPTIMIZATION_LEVEL = 3
ENABLE_STRICT_WARNING = YES
PERFORM_MINIMIZATION = YES
ENABLE_CODE_OBFUSCATION = YES

INFO_PLIST_KEY_1 = Value1
INFO_PLIST_KEY_2 = Value2
INFO_PLIST_KEY_3 = Value3

BUILD_CONFIGURATION_1 = Debug
BUILD_CONFIGURATION_2 = Release
BUILD_CONFIGURATION_3 = Custom

GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_INHIBIT_ALL_WARNINGS = NO

FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Frameworks $(SRCROOT)/Frameworks $(SRCROOT)/Libraries $(SRCROOT)/CustomFrameworks

LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Libraries $(SRCROOT)/Libraries $(SRCROOT)/CustomLibraries

HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Headers $(SRCROOT)/Headers $(SRCROOT)/CustomHeaders

IPHONEOS_DEPLOYMENT_TARGET = 12.0
MACOSX_DEPLOYMENT_TARGET = 10.14

CUSTOM_SETTING_A = ValueA
CUSTOM_SETTING_B = ValueB
CUSTOM_SETTING_C = ValueC
CUSTOM_SETTING_D = ValueD
CUSTOM_SETTING_E = ValueE
CUSTOM_SETTING_F = ValueF
CUSTOM_SETTING_G = ValueG
CUSTOM_SETTING_H = ValueH
CUSTOM_SETTING_I = ValueI
CUSTOM_SETTING_J = ValueJ

OVERLAPPING_SETTING_1 = OriginalValue
OVERLAPPING_SETTING_2 = OriginalValue
OVERLAPPING_SETTING_3 = OriginalValue
OVERLAPPING_SETTING_1 = OverriddenValue
OVERLAPPING_SETTING_2 = OverriddenValue
OVERLAPPING_SETTING_3 = OverriddenValue

DEPRECATED_SETTING_1 = DeprecatedValue1
DEPRECATED_SETTING_2 = DeprecatedValue2
DEPRECATED_SETTING_3 = DeprecatedValue3
DEPRECATED_SETTING_1 = LegacyValue1
DEPRECATED_SETTING_2 = LegacyValue2
DEPRECATED_SETTING_3 = LegacyValue3

RANDOM_SETTING_X = RandomValueX
RANDOM_SETTING_Y = RandomValueY
RANDOM_SETTING_Z = RandomValueZ
