@import url('https://fonts.googleapis.com/css2?family=nunito&family=Nunito&display=swap');html { font-family: 'Nunito';}

html, body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: white;

header {
  background-image: linear-gradient(red, yellow);
  margin-top: -35px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 25px;
}
