<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Zilia</string>
    <key>CFBundleDisplayName</key>
    <string>Zilia</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.zilia</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>Icon-60@2x</string>
                <string>Icon-76@2x</string>
                <string>Icon-120</string>
                <string>Icon-152</string>
            </array>
        </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>example.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to provide personalized services.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location even when the app is in the background to offer better services.</string>
    <key>NSCameraUsageDescription</key>
    <string>We need access to the camera to let you take photos within the app.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to the photo library to allow you to select and upload images.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to the microphone for voice recording features.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>We need Bluetooth access for connectivity with external devices.</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>We need access to Apple Music for streaming and playback features.</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
        <string>camera</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>
</dict>
</plist>
